.main {
    display: flex; 
    justify-content: center;
}
#grid-container {
    height: 400px;
    width: 400px;
    border-style: solid;
    border-width: 10px;
    border-color: #f4acb7;
    background-color: white;
}

.one {
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.four {
    display: grid;
    grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

.nine {
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.sixteen {
    display: grid;
    grid-template: repeat(40, 1fr) / repeat(40, 1fr);
}

.twentyfive {
    display: grid;
    grid-template: repeat(50, 1fr) / repeat(50, 1fr);
}

.boxes {
    border-style: solid;
    border-color: #696d7d;
    border-width: .5px;
}

.permaHover {
    background-color: #696d7d;
}

.controlmenu { 
    display: flex; 
    justify-content: center;
    align-content: center;
    margin: 10px;
}

button {
    background-color: #fff4e4;
    border-style: solid; 
    border-radius: 30px;
    border-color: #bbf1e3;
    border-width: 4px;
    text-align: center;
    margin: 10px;
    padding: 5px;
    color: #4a516b;
    font-size: 18px;
    font-family: Didot, serif;
}

button:hover {
    background-color: #daf2ec;
}

html {
    background-color: #ffeef1;
}

.title, 
.gridprompt {
    display: flex;
    justify-content: center;
    color: #4a516b;
    font-family: Didot, serif;
    margin: 15px;
}

.title {
    font-weight: 900;
    text-shadow: 1px 1px 2px  rgb(130, 205, 194);
    font-size: 25px;
}

.gridprompt {
    margin-top: 30px;;
    font-size: 15px;
    font-weight: bold;
}

.gridnumdiv {
    display: flex;
    justify-content: center;
}