.main {
    display: flex; 
    justify-content: center;
}
#grid-container {
    display: grid;
    justify-items: stretch;
    height: 400px;
    width: 400px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    border-style: solid;
    border-width: 10px;
    border-color: #f4acb7;
    background-color: white;
}

.boxes {
    border-style: solid;
    border-color: #696d7d;
    border-width: .5px;
}

.permaHover {
    background-color: #696d7d;
}

.controls { 
    display: flex; 
    justify-content: center;
    align-content: center;
    margin: 30px;
}

button {
    background-color: #fff4e4;
    border-style: solid; 
    border-radius: 30px;
    border-color: #bbf1e3;
    border-width: 4px;
    text-align: center;
    margin: 15px;
    padding: 5px;
    color: #4a516b;
    font-size: 18px;
    font-family: Didot, serif;
}

button:hover {
    background-color: #daf2ec;
}

html {
    background-color: #ffeef1;
}

.title, 
.gridprompt {
    display: flex;
    justify-content: center;
    color: #4a516b;
    font-size: 25px;
    font-family: Didot, serif;
    margin: 15px;
}

.title {
    font-weight: 900;
    text-shadow: 1px 1px 2px  rgb(130, 205, 194);
}

.gridprompt {
    font-size: 18px;
}

.gridnum {
    display: flex;
    justify-content: center;
}